.main {
  min-height: 70vh;
}

.login-comp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-comp form {
  background: rgba(5, 97, 143, 0.3);
  padding: 1rem;
  border-radius: 5px;
  width: 400px;
}
